@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

body {
  font-family: 'Nanum Gothic', sans-serif;
}

/* 전체메뉴 */
.white-popup-block {
  width: 838px;
  height: 546px;
  border-radius: 55px;
  background: #fff;
  margin: 0 auto;
}

/* 전체메뉴 */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fbfbfb;
  color: #636363;
  z-index: 100;
  padding-top: 96px;
  display: none;
}

.menu .menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfbfb;
  padding: 30px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.menu .close {
  position: absolute;
  top: 25px;
  right: 51px;
  cursor: pointer;
  font-size: 40px;
  font-weight: 700;
}

.header_logo {
  position: absolute;
  left: 98px;
  top: 31px;
}

div.menu .close:before,
div.menu .close:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #636363;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: '';
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

div.menu .close:after {
  border-width: 2px;
  transition: all 0.4s;
}

div.menu .close:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

div.menu .close:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* 이메일 모달 */
.email_dimm {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: none;
}

.email_dimm i {
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email_dimm.active {
  display: block;
}

.email_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.email_modal.active {
  opacity: 1;
  pointer-events: initial;
}

.email_modal span {
  display: block;
  font-size: 60px;
}

.email_modal p {
  padding: 20px;
}

/* 메뉴 왼쪽 */

.left {
  display: flex;
  width: 642px;
  height: 734px;
  margin-right: 200px;
  border: 1px solid #d9d9d9;
}

.my_photo {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 96px 42px 16px 42px;
}

.my_photo img {
  width: 188px;
  height: 188px;
  border-radius: 50%;
}

.my_photo p {
  margin-top: 15px;
  text-align: center;
}

.menu_text {
  padding-top: 96px;
}

.about h3 {
  margin-top: 42px;
}

.about h3,
.skill h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about p,
.skill p {
  font-size: 18px;
  line-height: 2;
}

.skill {
  margin-top: 86px;
}

.skill p {
  width: 75px;
}

.skill_list {
  width: 75px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.skill_list li span,
.skill_list li div {
  display: flex;
  text-align: center;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  margin-top: 5px;
  border-radius: 5px;
  background: #636363;
}

.skill_list li div {
  background: #d7d7d7;
}

.skill_list li:nth-child(2) {
  margin-left: 16px;
}

/* 메뉴 오른쪽 */

.right {
  margin-left: 100px;
}

.right .nav {
  font-size: 35px;
  font-weight: 700;
  line-height: 2.2;
}

.right .nav li {
  position: relative;
}

.right .nav li:nth-child(4) a,
.right .nav li:nth-child(5) a,
.right .nav li:nth-child(6) a {
  margin-left: 24px;
  font-size: 33px;
}

.right .nav li:nth-child(6) {
  margin-bottom: 100px;
}

/* .right .nav li a::after {
  position: absolute;
  content: '';
  top: 10%;
  left: 0;
  width: 50%;
  height: 20px;
  background: #ffddf8;
} */

.pink {
  width: 100%;
  margin-top: 56px;
  background-image: linear-gradient(120deg, #ffddf8 100%, #ffddf8 100%);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 130%;
}

.pink:hover {
  color: #000;
}

.green:hover {
  width: 100%;
  margin-top: 56px;
  background-image: linear-gradient(120deg, #bcf4f3 100%, #bcf4f3 100%);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 130%;
  transition: all 0.5s ease-in;
  color: #000;
}

.menu_btn a {
  font-size: 24px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}

.popup-modal {
}

.contact_modal {
  width: 630px;
  margin: 0 auto;
  padding-top: 46px;
  position: relative;
}

.contact_modal h2 {
  text-align: center;
  font-size: 28px;
  color: #636363;
  font-weight: 700;
  margin-bottom: 76px;
}

.modal_close {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  top: 8%;
  right: 0px;
  color: #636363;
}

.gform {
  font-size: 24px;
  color: #8c8c8c;
}

.gform label {
  display: inline-block;
  float: left;
  height: 55px;
  margin-top: 15px;
}

.gform input,
.gform textarea {
  width: 80%;
  padding: 18px;
  font-size: 16px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  background: #f7f5f5;
  float: right;
  border-radius: 10px;
  outline: none;
  color: #99a9af;
}

.gform input::placeholder,
.gform textarea::placeholder {
  color: #b5c5c5;
}

.gform input:focus,
.gform textarea:focus {
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.gform textarea {
  resize: vertical;
}

.contact_btn {
  font-size: 24px;
  font-weight: 300;
  color: #636363;
  cursor: pointer;
  background: #fff;
  padding: 12px 30px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  margin-top: 26px;
  margin-left: 245px;
}

/* 헤더 */
.header {
  position: relative;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  height: 96px;
  background: #fff;
}

.logo_img {
  width: 69px;
  margin-left: 98px;
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  margin-right: 50px;
  padding: 6px;
}

.hamburger span {
  display: block;
  width: 38px;
  height: 3px;
  background: #636363;
  margin: 6px 0;
}

.hamburger span:nth-child(2) {
  float: right;
  width: 28px;
  transition: all 0.6s;
}

.hamburger span:nth-child(2):hover {
  width: 38px;
}

div.hamburger span:before,
div.hamburger span:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 4px solid #636363;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: '';
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

div.hamburger span:after {
  border-width: 2px;
  transition: all 0.4s;
}

div.hamburger span:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

div.hamburger span:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/*  */

.body {
  width: 100%;
  height: 90vh;
  background: url(../images/main_bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text h2 {
  font-size: 60px;
  color: #ff6c77;
}

.text h3 {
  font-size: 45px;
  color: #7b625d;
  margin-top: 24px;
  position: relative;
}

.text h3::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 6px;
  margin-top: 38px;
  background: #f4f4f4;
}

.btn {
}

.text p {
  font-size: 23px;
  color: #7b625d;
  margin-top: 81px;
  margin-bottom: 111px;
}

.btn a {
  display: inline-block;
  width: 142px;
  height: 56px;
  font-size: 22px;
  color: #9d8f8c;
  line-height: 56px;
  border: 3px solid #f4f4f4;
  text-align: center;
}

.btn a i {
  font-size: 20px;
}

.btn a:first-child {
  margin-right: 85px;
}

.btn a:hover {
  background: #c4c4c4;
  color: #f4f4f4;
  border: 3px solid #c4c4c4;
}

h3.typing-txt {
  display: none;
}

.typing {
  /*       position: absolute;*/
  display: inline-block;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}
