.sub_nav {
}

.sub_h2 {
  width: 150px;
}

.sub_meun {
  margin-top: 40px;
}

.sub_meun a {
  margin-left: 40px;
  font-size: 30px;
  color: #636363;
  transition: all 1s;
}

.on {
  width: 100%;
  margin: 0 auto;
  margin-top: 56px;
  background-image: linear-gradient(120deg, #bcf4f3 100%, #bcf4f3 100%);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 130%;
}

.sub_meun a:hover {
  width: 100%;
  margin-top: 56px;
  background-image: linear-gradient(120deg, #bcf4f3 100%, #bcf4f3 100%);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 130%;
  transition: all 0.5s ease-in;
}

.sub_meun a:first-child {
  margin-left: 0;
}
